venv/
__pycache__/
*.pyc
*.mp4
*.wav
*.gguf
models/
data/
ASL-citizen-code/
ASL-citizen-code/
*.zip
*.deb
*.npy
models/
shubert/SHuBERT/
shubert/TTIC-SHuBERT-ASLVideo-to-EnglishText/shubert_venv/
shubert/TTIC-SHuBERT-ASLVideo-to-EnglishText/temp/
shubert/TTIC-SHuBERT-ASLVideo-to-EnglishText/__pycache__/
